/*Practica de video y audio
10 de noviembre
Miguel Angel Molina*/

*{
    box-sizing: border-box;
}


header,footer{
    background-color: rgb(255, 255, 255);
    border-style:solid ;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
}

body{
    background-image: linear-gradient(to right, green, white);
}

header{
    border: solid black 2px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(to right,green, white);
}

.p1{
    background-image: linear-gradient(to right, blue, white, green);
}

p{
    border: solid black 2px;
    border-radius: 20px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

video,audio,iframe{
    padding-top: 20px;
    width: 70%;
    margin: auto;
    display: block;
}

audio{
    padding-top: 50px;

}

section{
    display: flex;
}

h2{
    padding: 20px;
}

.p1{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.p2{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-image: linear-gradient(to right, rgb(124, 128, 0),white, rgb(255, 0, 0));
}

.p3{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.72),blue, rgb(255, 0, 0));
}

.p4{
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: linear-gradient(to right, rgb(85, 176, 85),white, rgb(0, 0, 0));
}