body{
    background-color: black;
}

h1{
    text-align: center;
    color: rgb(255, 98, 0);
    margin-bottom: 70px;
}

fieldset{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 30px;
    background-color: rgb(255, 119, 46);
    border-radius: 15px;
}

label{
    padding: 7px;
}

input{
    padding: 7px;
}

.imagen{
    width: 8%;
    margin: 0px 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    
}

.imagen2{
    width: 8%;
    margin: 0px 1365px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}


.menuF{
    display: flex;
    
}
